/* Burger Menu */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background-color: #fa827f;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background-color: #211b19;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  width: 30px;
  height: 30px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fa827f;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #211b19;
  padding: 2.5em 1em 0;
  font-size: 1.3em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #fa827f;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding-bottom: 1em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.5);
}

/*
NavBar
*/
.nav {
  display: none;
  position: fixed;
  width: 100%;
  height: 64px;
  background-color: #fa827f;
  color: #211b19;
  text-decoration: none;

  .left-nav {
    float: left;
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
    margin-left: 2em;
    .left-link {
      font-family: "Comforter";
      font-size: 1.5em;
    }
  }

  .right-nav {
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
    padding-right: 2em;
    .nav-link {
    }

    .nav-link:hover,
    .nav-link:focus {
      transform: translateY(-4px);
    }
    .nav-active {
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 1200px) {
  .bm-burger-button {
    display: none;
  }

  .nav {
    display: block;
  }
}
